node_modules
dist
build
.svelte-kit
coverage
**/coverage/**
extension/test-results
extension/playwright-report
**/test-results/**
**/playwright-report/**
pnpm-lock.yaml
**/prisma/migrations/**
api/src/lib/generated/**
