apiVersion: v1
kind: Secret
metadata:
  name: {{ include "openerrata.fullname" . }}
  labels:
    {{- include "openerrata.labels" . | nindent 4 }}
type: Opaque
stringData:
  DATABASE_URL: {{ required "secrets.databaseUrl is required" .Values.secrets.databaseUrl | quote }}
  OPENAI_API_KEY: {{ required "secrets.openaiApiKey is required" .Values.secrets.openaiApiKey | quote }}
  HMAC_SECRET: {{ required "secrets.hmacSecret is required" .Values.secrets.hmacSecret | quote }}
  DATABASE_ENCRYPTION_KEY: {{ required "secrets.databaseEncryptionKey is required" .Values.secrets.databaseEncryptionKey | quote }}
  BLOB_STORAGE_ACCESS_KEY_ID: {{ required "secrets.blobStorageAccessKeyId is required" .Values.secrets.blobStorageAccessKeyId | quote }}
  BLOB_STORAGE_SECRET_ACCESS_KEY: {{ required "secrets.blobStorageSecretAccessKey is required" .Values.secrets.blobStorageSecretAccessKey | quote }}
