{{- if .Values.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "openerrata.serviceAccountName" (dict "root" . "component" "api") }}
  labels:
    {{- include "openerrata.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
automountServiceAccountToken: false
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "openerrata.serviceAccountName" (dict "root" . "component" "worker") }}
  labels:
    {{- include "openerrata.labels" . | nindent 4 }}
    app.kubernetes.io/component: worker
automountServiceAccountToken: false
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "openerrata.serviceAccountName" (dict "root" . "component" "selector") }}
  labels:
    {{- include "openerrata.labels" . | nindent 4 }}
    app.kubernetes.io/component: selector
automountServiceAccountToken: false
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "openerrata.serviceAccountName" (dict "root" . "component" "migrate") }}
  labels:
    {{- include "openerrata.labels" . | nindent 4 }}
    app.kubernetes.io/component: migrate
automountServiceAccountToken: false
{{- end }}
